<%= div_for translation, :class => "row" do %>
    <div class="large-7 columns">
      <blockquote>
        <%= translation.value %>
        <cite>
          <%= translation.user.name %>
        </cite>
      </blockquote>
    </div>
    <div class="large-3 columns">
      <p><%= "<span class=\"glyphicon glyphicon-star\" style=\"color: #1abc9c; padding-left:-20px;\"></span>".html_safe if @best %> Score: <span id="score"><%= translation.score %></span></p>
    </div>
    <% if translation.user.id != current_user.id and translation.item.project.user.id != current_user.id %>
    <div class="large-2 columns">
        <ul class="button-group round even-2">
            <li>
            <%= link_to vote_up_translation_path(translation), :class => "button success small", :method => :put, remote:true do %>
                <span class="glyphicon glyphicon-thumbs-up"></span>
            <% end %>
            </li>
            <li>
              <%= link_to vote_down_translation_path(translation), :class => "button alert small", :method => :put, remote:true do %>
                  <span class="glyphicon glyphicon-thumbs-down"></span>
              <% end %>
            </li>
        </ul>
    </div>
    <% else %>
    <div class="large-2 columns"></div>
    <% end %>
<% end %>

