<%= div_for translation do %>
	<table width="100%">
		<tr>
			<td width="60%"><%= translation.value %></td>
			<td>Score: <span><%= translation.score %></span></td>
			<%if translation.item.project.user.id != current_user.id%>
				<td>
					<ul class="button-group round even-2">
						<li><%= button_to "Vote up", vote_up_translation_path(translation), :class => "button success small", :method => :put, remote:true %></li>
						<li><%= button_to "Vote down", vote_down_translation_path(translation), :class => "button alert small", :method => :put, remote:true %></li>
					</ul>
				</td>
			<%end%>
		</tr>
    </table>
<% end %>

