<h1>Listing translations</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Language</th>
      <th>User</th>
      <th>Value</th>
      <th>Score</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @translations.each do |translation| %>
      <tr>
        <td><%= translation.item_id %></td>
        <td><%= translation.language_id %></td>
        <td><%= translation.user_id %></td>
        <td><%= translation.value %></td>
        <td><%= translation.score %></td>
        <td><%= link_to 'Show', translation %></td>
        <td><%= link_to 'Edit', edit_translation_path(translation) %></td>
        <td><%= link_to 'Destroy', translation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @item != nil %>
<%= link_to 'New Translation', new_item_translation_path(@item) %>
<% end %>
