<p id="notice"><%= notice %></p>

<div style = "margin:10px">
<p style = "margin: 10px">
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= render @user.projects %>

<<<<<<< HEAD
<table>
	<tr>
		<td><%= button_to "Edit user", edit_user_path, :class => "button tiny", :method => :get %></td>
		<td><%= button_to "Back", users_path, :class => "button tiny", :method => :get %></td>
	</tr>
</table>

</div>
