<%= form_for(@project) do |f| %>
    <fieldset style="margin-top: 20px">
      <legend>Editing project</legend>
      <% if @project.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
              <% @project.errors.full_messages.each do |msg| %>
                  <li>
                    <%= msg %>
                  </li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :name %>
          <br>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :description %>
          <br>
          <%= f.text_area :description, :class => "small-12.columns" %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :languages %>
          <br>
          <%= f.collection_select :language_ids,
                                  Language.all,
                                  :id,
                                  :name,
                                  {include_blank: true},
                                  {class: 'chosen-select', :multiple => true}
          %>
        </div>
      </div>
      <div class="row">
        <div class="large-2 columns">
          <%= f.submit :class => "button success-darker small", :method => :get %>
        </div>
        <div class="large-10 columns">
          <%= link_to "Cancel", @project, :class => "button inverse small", :method => :get %>
          <%= link_to "Destroy", @project, :class => "button alert-dark small", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </fieldset>
<% end %>
