<h2><%= title %></h2>
<%= form_for(@project) do |f| %>
      <%= error_messages! %>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :name %>
          <br>
          <%= f.text_field :name, :autofocus => true %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :description %>
          <br />
          <%= f.text_area :description, :class => "small-12.columns" %>
          <br />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :languages %>
          <br />
          <%= f.collection_select :language_ids,
                                  Language.all,
                                  :id,
                                  :name,
                                  {include_blank: true},
                                  {class: 'chosen-select', :multiple => true}
          %>
          <br />
          <br />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.submit :class => "button success-darker small", :method => :get %>
          <%= link_to "Delete", @project, :class => "button alert-dark small", method: :delete, data: { confirm: 'Are you sure?' } unless new %>
          <%= link_to "Cancel", @project, :class => "button inverse small", :method => :get%>
        </div>
      </div>
<% end %>
