<div class="large-3 columns">
  <ul class="side-nav">
    <% if @project.user == current_user %>
    <li><%= link_to 'Add an item', new_project_item_path(@project) %></li>
    <li><%= link_to 'Import items', "#", "data-reveal-id" => "importModal" %></li>
    <% end %>
    <% if @project.items.count > 0 %>
    <li><%= link_to 'Download iOS', download_ios_project_path(@project) %></li>
    <li><%= link_to 'Download Android', download_android_project_path(@project) %></li>
    <% end %>
    <% if @project.user == current_user %>
    <li><%= link_to 'Edit', edit_project_path(@project) %></li>
    <% end %>
  </ul>
</div>
<% if @project.user == current_user %>
<div id="importModal" class="reveal-modal" data-reveal>
  <h2>Import your current project file</h2>
  <p>Choose a file (.strings for iOS or .xml for Android), and select the language to import your items and their translations. You need to do this step for all translation files you have.</p>
  <%= form_for(@project, url: upload_items_project_path(@project), method: :put, remote: true, :authenticity_token => true) do |f| %>
      <div><%= f.file_field :new_items %></div>
      <div><%= f.collection_select :language_ids,
                              Language.all,
                              :id,
                              :name,
                              {include_blank: true},
                              {class: 'chosen-select', :multiple => false}
      %></div>
      <br />
      <div><%= f.submit 'Import items', :class => "button success-dark" %></div>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
<% end %>