<%= div_for project do %>
    <h4><%= link_to "<span class=\"glyphicon glyphicon-link\" style=\"padding-left:-20px;\"></span> ".html_safe + project.name, project, :color => "white", "data-no-turbolink" => true%></h4>
    <blockquote>
      <%= project.description %>
      <cite>
        <%= project.user.name %>
      </cite>
    </blockquote>
    <% languages = current_user != project.user ? current_user.languages & project.languages : project.languages %>
    <% languages.each do |language| %>
        <strong><%= language.name %></strong>
        <div class="radius progress large-12"><span class="meter" style="width: <%= project.progression(language) * 100 %>%; text-align: center;"><strong><%= (project.progression(language) * 100).to_i %>%</strong></span></div>
    <% end %>
<% end %>
<br />