<%= div_for project do %>
      <h4><%= link_to "<span class=\"glyphicon glyphicon-link\" style=\"padding-left:-20px;\"></span> ".html_safe + project.name, project, :color => "white"%></h4>
      <blockquote>
        <%= project.description %>
        <cite>
          <%= project.user.name %>
        </cite>
      </blockquote>

      items: <%= project.items.count %>
      <br>
      translated:
<% end %>
<hr />