
<div style = "margin: 10px">
	<h1>Project listing</h1>


  
   	<% @projects.each do |project| %>
    	<div style= "margin: 10px;" >
			<h4><%= link_to project.name, project, :color => "white"%></h4>
			<blockquote>
				<%= project.description %>
				<cite>
					<%= project.user.name %>
				</cite>
			</blockquote>
        		
			items: <%= project.items.count %>
			<br>
			translated:
		</div>
	    <hr />
  	<% end %>
  
</div>
<br>

<div style = "margin: 20px">
	<%= button_to "Create new project", new_project_path, :class => "button inverse-dark", :method => :get %>
</div>

