<p id="notice"><%= notice %></p>
<div style="margin:10px">
<!--
<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>
-->
<p>
  <h1>Project: <%= @project.name %></h1>
  
</p>

<p style="margin: 10px">
  <strong>Description:</strong>




<dl class="tabs" data-tab>
	<%= @project.user.languages.each  do |language|  %>
  		<dd class="active"><a href="#panel2-1">Tab 1</a></dd>
  	<% end %>
</dl>
<div class="tabs-content">
	<%= @project.user.languages.each do |language| %>
	  <div class="content active" id="panel2-1">
	    <%= render @project.items %>
	  </div>
  	<% end %>
</div>



<%= form_for(@project, url: upload_items_project_path(@project), method: :put, remote: true) do |f| %>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <%= f.file_field :new_items %>
    <%= f.submit 'Upload new items', :class => 'button inverse-dark tiny' %>
<% end %>


<%= button_to "Add item", new_project_item_path(@project), :class => "button inverse-dark tiny", :method => :get %>

<table>
	<tr>
		<td><%= button_to "Edit", edit_project_path(@project), :class => "button inverse-dark tiny", :method => :get %></td>
		<td><%= button_to "Back", project_path, :class => "button inverse-dark tiny", :method => :get %></td>
	</tr>
</table>

<%= link_to 'Add item', new_project_item_path(@project) %> |
<%= link_to 'Download iOS', download_ios_project_path(@project) %> |
<%= link_to 'Download Android', download_android_project_path(@project) %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
