<h1 style="text-align:center"><%= @project.name %></h1>
<hr>
<% first = true %>
<%= render 'menu' %>
<div class="large-9 columns">
  <blockquote>
    <%= @project.description %>
    <cite>
      <%= @project.user.name %>
    </cite>
  </blockquote>
  <div class="section-container tabs" data-section>
    <% languages = current_user != @project.user ? current_user.languages & @project.languages : @project.languages %>
    <% languages.each  do |language|  %>
        <section class="section <%= "active" if first %>"><% first = false %>
          <p class="title"><a href="#<%= "langue" + language.name %>"><%= language.name %></a></p>
          <div class="content">
            <%= render @project.items, :language => language %>
          </div>
        </section>
    <% end %>
  </div>
</div>