<p id="notice"><%= notice %></p>
<h1><%= @project.name %></h1>
<hr>
<%= render 'menu' %>
<div class="large-9 columns">
  <h4><%= @project.description %></h4>
    <dl class="tabs" data-tab>
      <dd class="active">
        <% @project.user.languages.each  do |language|  %>
            <a href="#<%="langue" + language.name%>"><%= language.name%></a></dd><dd>
        <% end %>
        </dd>
    </dl>
    <div class="tabs-content">
        <% @project.user.languages.each do |language| %>
            <div class="content active" id="<%="langue" +language.name%>">
                <% @project.items.each do |item|%>
                    <div class="panel" id="translations_<%=item.id%>_<%=language.id%>" >
                        <h3 class="subheader"><%= item.key %></h3>
                        <% item.translations.each do |translation| %>
                          <% if translation.language_id == language.id%>
                            <%= render translation %>
                          <% end %>
                        <% end %>
                        <div id="button_offer_translation_<%=item.id%>_<%=language.id%>"><%= button_to "offer translation", offer_translation_project_path(:item_id => item.id, :language_id => language.id) , :class => "button primary-dark small", :method => :put, remote: true%></div>
                     </div>
                <%end%>
          </div>
        <% end %>
    </div>
</div>