<p id="notice"><%= notice %></p>
<h1><%= @project.name %></h1>
<hr>
<div class="large-3 columns">
  <ul class="side-nav">
    <li><%= link_to 'Add an item', new_project_item_path(@project) %></li>
    <li><%= link_to 'Import items', "#" %></li>
    <li><%= link_to 'Download iOS', download_ios_project_path(@project) %></li>
    <li><%= link_to 'Download Android', download_android_project_path(@project) %></li>
    <li><%= link_to 'Edit', edit_project_path(@project) %></li>
    <li><%= link_to 'Back', projects_path %></li>
  </ul>

  <%= form_for(@project, url: upload_items_project_path(@project), method: :put, remote: true) do |f| %>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <%= f.file_field :new_items %>
      <%= f.submit 'Upload new items', :class => 'button inverse-dark tiny' %>
  <% end %>
</div>
<div class="large-9 columns">
  <h4><%= @project.description %></h4>
    <dl class="tabs" data-tab>
      <dd class="active">
        <% @project.user.languages.each  do |language|  %>
            <a href="#<%="langue" + language.name%>"><%= language.name%></a></dd><dd>
        <% end %>
        </dd>
    </dl>
    <div class="tabs-content">
        <% @project.user.languages.each do |language| %>
            <div class="content active" id="<%="langue" +language.name%>">
                <% @project.items.each do |item|%>
                    <div class="panel" id="translations_<%=item.id%>_<%=language.id%>" >
                        <h3 class="subheader"><%= item.key %></h3>
                        <% item.translations.each do |translation| %>
                          <% if translation.language_id == language.id%>
                            <%= render translation %>
                          <% end %>
                        <% end %>
                        <div id="button_offer_translation_<%=item.id%>_<%=language.id%>"><%= button_to "offer translation", offer_translation_project_path(:item_id => item.id, :language_id => language.id) , :class => "button primary-dark small", :method => :put, remote: true%></div>
                     </div>
                <%end%>
          </div>
        <% end %>
    </div>
</div>