<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @item.project_id %>
</p>

<p>
  <strong>Key:</strong>
  <%= @item.key %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', project_items_path(@project) %>
